# Server Configuration
PORT=3000
DEV=true



# RapidAPI Hub - BuiltWith Domain Integration
# Subscribe to the API at rapidapi.com/builtwith-builtwith-default/api/builtwith-domain/
RAPIDAPI_KEY=

# Logo.dev Integration (Publishable Key pk_...)
# Get your API key at logo.dev
LOGODEV_PUBLISHABLE_KEY=

# Logo.dev Secret API Key (Used for server-side search/profile REST APIs)
LOGODEV_SECRET_KEY=

# Screenshot Machine Customer Key
# Get your customer key at screenshotmachine.com
SCREENSHOTMACHINE_KEY=
